// ----------以下這段為通用class-----------
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.f-size{
	font-size: 24px;
	line-height: 36px;
}

.mb-72{
	margin-bottom: 72px;
}

.title{
	align-items: center;
	font-weight: bold;
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
    margin-bottom: 16px;
    h2{
        font-size: 32px;
        line-height: 45px;
        font-family: 'PingFang TC';
        }
     span{
        font-size: 24px;
        line-height: 32px;
        color: #A00404;
        padding-left: 16px;
        font-family: 'Roboto';
        }
}

.point-item:before{
    content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background: #96A9C4;
        border-radius: 50%;
        top: 10px;
        left: -32px;
    }
    .timeLine::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 66px;
        background: #96A9C4;
        top: 18px;
        left: -24px;
        }
// ------------------以上為通用class------------

/* header */
.header{
    .name{
        font-size: 80px;
        line-height: 90px;
        padding: 48px 0 24px 0;
        border-bottom: 2px solid #000;
    }
    img{
        padding: 48px;
    }
}

/* profile */
.profile{
    .title {
        align-items: center;
        font-weight: bold;
        border-bottom: 1px solid #000;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }
    ul {
        padding-left: 48px;
        margin-bottom: 24px;
    }
    li {
        position: relative;
    }
}

/* education */
.education{
    ul {
        padding-left: 48px;
    }
    li {
        margin-bottom: 32px;
        position: relative;
    }
}

/*.skill*/
.skill-bg{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        background: #96A9C4;
        height: 360px;
        width: 100%;
        z-index: -1;
        top: 85px;
    }
    .skill{
        background: #415165;
        color: #fff;
        padding-top: 24px;
        padding-bottom: 56px;
    }
}

.skills{
    max-width: 996px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
}

.skills {
    .title {
        border-bottom: 1px solid #fff;
        width: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }
span{
    color: #fff;
    }
}
.skillList{
    position: relative;
    li{
        margin-bottom: 16px;
    }
    :before{
        content: "";
        position: absolute;
        border-left: 1px solid #96A9C4;
        top: 0;
        bottom: 0;
        left: -23px;
    }
}

/* experience */
.experienceItem{
    position: relative;
    padding-left: 48px;
    &:before{
        content: "";
        position: absolute;
        border-left: 1px solid #96A9C4;
        top: 0;
        bottom: 0;
        left: 24px;
        }
    h3{
        margin-top: 32px;
    }
    img{
        padding: 8px 0 8px 0;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        max-width: 642px;
    }
}

/* footer */
.footer{
    color: #fff;
    background-color: #415165;
    padding-top: 24px;
    padding-bottom: 48px;
}
    .contact {
        .title{
            width: 100%;
            justify-content: center;
            margin-bottom: 32px;
            border-bottom: 1px solid #fff;
        span{
            color: #fff;
            }
        }
    }

    .contactList{
        display: flex;
        flex-direction: column;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-weight: 100;
        li{
            margin-bottom: 16px;
	        text-align: center;
        }
    }

    .contact-logo{
        justify-content: center;
        img{
            margin-right: 24px;
        }
    }